<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jksh.infrastructure.repository.mapper.RhPositionMapper">
  <resultMap id="BaseResultMap" type="com.jksh.infrastructure.repository.po.RhPosition">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="postion_name" jdbcType="VARCHAR" property="postionName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="functional_type" jdbcType="VARCHAR" property="functionalType" />
    <result column="hire_count" jdbcType="INTEGER" property="hireCount" />
    <result column="city_work" jdbcType="VARCHAR" property="cityWork" />
    <result column="min_salary" jdbcType="INTEGER" property="minSalary" />
    <result column="max_salary" jdbcType="INTEGER" property="maxSalary" />
    <result column="education_certification" jdbcType="VARCHAR" property="educationCertification" />
    <result column="years_of_working" jdbcType="VARCHAR" property="yearsOfWorking" />
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="rank_title" jdbcType="VARCHAR" property="rankTitle" />
    <result column="industry_information" jdbcType="VARCHAR" property="industryInformation" />
    <result column="number_of_subordinates" jdbcType="INTEGER" property="numberOfSubordinates" />
    <result column="Institution_category" jdbcType="VARCHAR" property="institutionCategory" />
    <result column="target_company" jdbcType="VARCHAR" property="targetCompany" />
    <result column="skill_certificates" jdbcType="VARCHAR" property="skillCertificates" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="who_to_report" jdbcType="VARCHAR" property="whoToReport" />
    <result column="office_address" jdbcType="VARCHAR" property="officeAddress" />
    <result column="departmental_structure" jdbcType="VARCHAR" property="departmentalStructure" />
    <result column="interview_rounds" jdbcType="INTEGER" property="interviewRounds" />
    <result column="accept_video" jdbcType="INTEGER" property="acceptVideo" />
    <result column="interview_process" jdbcType="VARCHAR" property="interviewProcess" />
    <result column="interview_location" jdbcType="VARCHAR" property="interviewLocation" />
    <result column="salary_structure" jdbcType="VARCHAR" property="salaryStructure" />
    <result column="benefits" jdbcType="VARCHAR" property="benefits" />
    <result column="expect_salary" jdbcType="INTEGER" property="expectSalary" />
    <result column="position_requirements" jdbcType="LONGVARCHAR" property="positionRequirements" />
    <result column="job_requirements" jdbcType="LONGVARCHAR" property="jobRequirements" />
    <result column="job_remarks" jdbcType="LONGVARCHAR" property="jobRemarks" />
  </resultMap>
  
  
  
  <select id="getPagePositionByCondition" resultMap="BaseResultMap">
    select * from rh_position where 1=1

    <if test="key_word != '' and key_word != null">
       and postion_name like concat('%',#{key_word},'%') or company_name like concat('%',#{key_word},'%')
    </if>
                                  
    <if test="city != null">
      and city_work in
      <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
        #{city}
      </foreach>
    </if>

    <if test="functional != null">
      and functional_type in
      <foreach collection="functional" item="functional" index="index" open="(" close=")" separator=",">
         #{functional}
      </foreach>
    </if>

    <if test="industry != null">
      and industry_information in
      <foreach collection="industry" item="industry" index="index" open="(" close=")" separator=",">
        #{industry}
      </foreach>
    </if>

    <if test="experience != null">
      and years_of_working in
      <foreach collection="experience" item="experience" index="index" open="(" close=")" separator=",">
        #{experience}
      </foreach>
    </if>
             
    and is_deleted = 0

    <choose>
      <when test="tag != null">
        order by order_count desc
      </when>
      <otherwise>
        order by create_time desc
      </otherwise>
    </choose>
    
    limit #{offset}, #{pageSize}
  </select>

  <select id="getCountByCondition" resultMap="BaseResultMap">
    select * from rh_position where 1=1

    <if test="key_word != '' and key_word != null">
      and postion_name like concat('%',#{key_word},'%') or company_name like concat('%',#{key_word},'%')
    </if>

    <if test="city != null">
      and city_work in
      <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
        #{city}
      </foreach>
    </if>

    <if test="functional != null">
      and functional_type in
      <foreach collection="functional" item="functional" index="index" open="(" close=")" separator=",">
        #{functional}
      </foreach>
    </if>

    <if test="industry != null">
      and industry_information in
      <foreach collection="industry" item="industry" index="index" open="(" close=")" separator=",">
        #{industry}
      </foreach>
    </if>

    <if test="experience != null">
      and years_of_working in
      <foreach collection="experience" item="experience" index="index" open="(" close=")" separator=",">
        #{experience}
      </foreach>
    </if>

    and is_deleted = 0
  </select>
  
  <select id="getPositionOfUser" resultMap="BaseResultMap">
    select * from rh_position where is_deleted = 0
    <if test="positionId != null and positionId.size > 0">
      and id in                      
      <foreach collection="positionId" item="id" index="index" open="(" close=")" separator=",">
         #{id}
      </foreach>
    </if>                       
    limit #{offset}, #{pageSize}
  </select>
  
</mapper>