<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jksh.infrastructure.repository.mapper.RhResumeMapper">
  <resultMap id="BaseResultMap" type="com.jksh.infrastructure.repository.po.RhResume">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="bron_date" jdbcType="VARCHAR" property="bronDate" />
    <result column="year_of_work" jdbcType="VARCHAR" property="yearOfWork" />
    <result column="desired_position" jdbcType="VARCHAR" property="desiredPosition" />
    <result column="base_city" jdbcType="VARCHAR" property="baseCity" />
    <result column="marriage" jdbcType="VARCHAR" property="marriage" />
    <result column="desired_industry" jdbcType="VARCHAR" property="desiredIndustry" />
    <result column="desired_functions" jdbcType="VARCHAR" property="desiredFunctions" />
    <result column="desired_city" jdbcType="VARCHAR" property="desiredCity" />
    <result column="individual_state" jdbcType="VARCHAR" property="individualState" />
    <result column="current_annual_salary" jdbcType="INTEGER" property="currentAnnualSalary" />
    <result column="salary_struct" jdbcType="INTEGER" property="salaryStruct" />
    <result column="desried_annual_min" jdbcType="INTEGER" property="desriedAnnualMin" />
    <result column="desried_annual_max" jdbcType="INTEGER" property="desriedAnnualMax" />
    <result column="cos_of_resume" jdbcType="VARCHAR" property="cosOfResume" />
    <result column="resume_file_code" jdbcType="VARCHAR" property="resumeFileCode" />
    <result column="institution_name" jdbcType="VARCHAR" property="institutionName" />
    <result column="unified_recruitment" jdbcType="INTEGER" property="unifiedRecruitment" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
    <result column="begin_degree" jdbcType="VARCHAR" property="beginDegree" />
    <result column="end_degree" jdbcType="VARCHAR" property="endDegree" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ignore_company" jdbcType="LONGVARCHAR" property="ignoreCompany" />
    <result column="personal_skill" jdbcType="LONGVARCHAR" property="personalSkill" />
    <result column="personal_certificate" jdbcType="LONGVARCHAR" property="personalCertificate" />
    <result column="personal_comment" jdbcType="LONGVARCHAR" property="personalComment" />
    <result column="work_undergoing_config" jdbcType="LONGVARCHAR" property="workUndergoingConfig" />
    <result column="project_config" jdbcType="LONGVARCHAR" property="projectConfig" />
  </resultMap>
  
  
  <select id="getPagePositionByCondition" resultMap="BaseResultMap">
    select * from rh_resume where 1=1

    <if test="key_word != '' and key_word != null">
      and name like concat('%',#{key_word},'%') or phone like concat('%',#{key_word},'%')
    </if>

    <if test="city != null">
      and desired_city in
      <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
        #{city}
      </foreach>
    </if>

    <if test="degree != null">
      and degree in
      <foreach collection="degree" item="degree" index="index" open="(" close=")" separator=",">
        #{degree}
      </foreach>
    </if>

    <if test="year_of_work != null">
      and year_of_work in
      <foreach collection="year_of_work" item="year_of_work" index="index" open="(" close=")" separator=",">
        #{year_of_work}
      </foreach>
    </if>
                              
    and status = 1

    <choose>
      <when test="tag != null">
        order by order_count desc
      </when>
      <otherwise>
        order by create_time desc
      </otherwise>
    </choose>

    limit #{offset}, #{pageSize}
  </select>

  <select id="getCountByCondition" resultMap="BaseResultMap">
    select * from rh_resume where 1=1

    <if test="key_word != '' and key_word != null">
      and name like concat('%',#{key_word},'%') or phone like concat('%',#{key_word},'%')
    </if>

    <if test="city != null">
      and desired_city in
      <foreach collection="city" item="city" index="index" open="(" close=")" separator=",">
        #{city}
      </foreach>
    </if>

    <if test="degree != null">
      and degree in
      <foreach collection="degree" item="degree" index="index" open="(" close=")" separator=",">
        #{degree}
      </foreach>
    </if>

    <if test="year_of_work != null">
      and year_of_work in
      <foreach collection="year_of_work" item="year_of_work" index="index" open="(" close=")" separator=",">
        #{year_of_work}
      </foreach>
    </if>

    and status = 1

  </select>
  
  
  <select id="getResumes" resultMap="BaseResultMap">
    select * from rh_resume where 1=1
    and id in
    <foreach collection="list" item="ids" index="index" open="(" close=")" separator=",">
      #{ids}
    </foreach>
  </select>
</mapper>